<!-- TITLE -->
<h1 class="m-4">List of all means of transportation</h1>

<!-- CARDS -->
<div class="row row-cols-1 row-cols-md-3 g-4">

    <% @transports.each do |transport| %>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= link_to transport.name, transport_path(transport) %></h5>
              <p class="card-text"><%= transport.price %></p>
              <p class="card-text"><%= transport.description %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><%= transport.category %></small>
            </div>
          </div>
        </div>
    <% end %>

  </div>
