.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
  }
  
.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
  
.card-trip h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.card-trip h3 {
  font-size: 26px;
  font-weight: bolder;
}
  
.card-trip p {
  font-size: 20px;
  opacity: .7;
   margin: 0;
}
  
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
  
.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -30px;
  width: 60px;
}

#category-top-right {
  position: absolute;
  top: 20px;
  right: 24px;
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 4px rgb(22, 22, 22);
  border: 2px solid white;
  box-shadow: 0.5px 0.5px 2px rgb(22, 22, 22);
  padding: 4px 8px;
  border-radius: 50px;
}
  