<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Sign-out",destroy_user_session_path,   method: :delete %>
<%= link_to "Sign-up", new_user_registration_path  %>
<%= link_to "Sign-in", new_user_session_path %>

