.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }

  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

	.btn-ghost {
		color: white;
		border: 1px solid white;
		padding: 8px 24px;
		border-radius: 50px;
		font-weight: bold;
		opacity: 0.6;
		transition: opacity 0.3s ease;
		text-align: center;
		justify-content: space-between;
	}

	.btn-ghost:hover {
		opacity: 1;
	}

	.search-form {
		text-align: center;
		padding: 8px 24px;
		// padding-top: 80px;
		// width: 10px;
		// height: 50px;
	}
