.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  border-bottom: solid 1px;
  border-color:#9D9491;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
